body {
    margin-top: 200px;
    background-color: lightgray;
}

form {
    background-color: white;
    width: 300px;
    padding: 30px;
    border-radius: 10px;
    margin: 0 auto;
}

h1 {
    margin: 0;
}

div {
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 0.4rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}

button {
    margin-top: 10px;
    border-radius: 5px;
}

